@CHARSET "ISO-8859-1";
body{
	background-color: #dfdfdf;
}

.content{
	text-align: center;
}

.bottom{
	border-top: 1px solid #ababab;
	margin-top: 1em;
	position: fixed;
	bottom:0;
	width: 100%;
}

.btn{
	margin:.5em;
}

.loginInput{
	margin-bottom: 1em;
}
